/* default: white background, sans serif font */
body {
    font-family:Arial,Helvetica;
    font-size: 12px;
    background-color:white;
}

/* subsection titles for the parameter area */
h3 {
    color: #000055;
    font-size:14px;
}

/* region to display an error */
#error { 
    color:white; 
    font-weight:bold; 
    background-color:red; 
    display:none; 
}

/* canvas to perform 2d graphcis */
#drawing_area {
    float:left;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
}

/* container to display editable parameters */
#param_area {
    float:left;
    padding: 5px 5px 5px 15px;
    width:220px;
    height:655px;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
    text-align:left;
}

/* all input elements get a fixed width */
input {
    width:100px;
}

label{
    display: inline-block;
    width: 100px;
}


.bezier {
    display:inline;
}

#bezier_input {
    float:left;
    width:320px;
    height:655px;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
    text-align:left;
    padding: 5px 5px 5px 15px;
}

.formgroup{
    display: none;
}

.formgroup, .form{
    margin-bottom: 3px;
}

button{
    width: 100px;
    border-radius: 0%;
    background-color: white;
    color: #315C99;
    border: 1px solid #5C81B5;
}

button:hover{
    cursor: pointer;
    background-color: #5C81B5;
    color: white;
}


input[type="checkbox"]:hover{
    cursor: pointer;
}
